.form-content input {
  margin-bottom: 9px;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  padding: 5px;
}
select {
  width: max-content;
  margin-bottom: 9px;
  border: 2px solid black;
}
#title {
  margin-right: 1%;
  width: 49%;
}
#price {
  margin-left: 1%;
  width: 49%;
}
input {
  text-align: center;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 0.5em;
  &:hover {
    color: grey;
  }
}
input[type="radio"]:checked + label::before {
  background-color: darkmagenta;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s;
  color: darkmagenta;
}
.radio + label::before {
  width: 1em;
  height: 1em;
  &:hover {
    color: darkmagenta;
  }
}
label {
  &:hover {
    color: grey;
  }
}
input[type="radio"]:checked + label {
  color: darkmagenta;
}
