@import "variables";

.row-div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  .product-div {
    padding-top: 50px;
    padding-bottom: 50px;
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s;
    &:hover {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s;

      -webkit-box-shadow: 0 12px 18px -6px black;
      -moz-box-shadow: 0 12px 18px -6px black;
      box-shadow: 0 12px 18px -6px black;
      -ms-transform: translate(0, -5px); /* IE 9 */
      -webkit-transform: translate(0, -5px);
      transform: translate(0, -5px);
      a {
        color: darkmagenta;
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
    .product-image-div {
      img {
        border-radius: 15px;
        width: 300px;
        height: 300px;
      }
    }
  }
}

.new-additions-title {
  border-bottom: 1px solid $dark-purple;
  text-align: left;

  .title {
    font-size: 30px;
    color: $dark-purple;
    font-family: $titles;
  }
}
.filter {
  position: fixed;
  left: 0;
  top: 30%;
  .search {
    padding-left: 15px;
    input {
      &:focus {
        border-radius: 4px;
        border-color: darkmagenta;
      }
    }
  }
  .type {
    display: block;
    ul {
      text-align: left;
      li {
        list-style: none;
      }
    }
  }
}
input {
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label::after {
  content: "";
  display: inline-block;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 0.5em;
  &:hover {
    color: grey;
  }
}
input[type="checkbox"] + label::after {
  content: "";
  display: inline-block;
  border: 1px solid;
  margin: 0 0.5em;
  border-radius: 30%;
  &:hover {
    color: grey;
  }
}
input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
  background-color: darkmagenta;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s;
  color: darkmagenta;
}
label::after {
  width: 1.2rem;
  height: 1.2rem;
  &:hover {
    color: darkmagenta;
  }
}
label {
  &:hover {
    color: grey;
  }
}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: darkmagenta;
}
