.carousel-inner {
  .active {
    img {
      transition: all 4s ease-out;
      transform: scale(1.1);
    }
  }
}

a:hover {
  text-decoration: none;
}
.row {
  display: block;
  padding-top: 30px;
  .blog-post {
    display: flex;
    padding-bottom: 50px;
    &:hover {
      .blog-post-image {
        transition: 0.4s;
        filter: brightness(115%);
      }
      .blog-post-title {
        color: darkmagenta;
      }
      .read-more {
        a {
          color: darkmagenta;
        }
      }
    }
    .blog-post-image {
      img {
        width: 530px;
        height: 320px;
        border-radius: 10px;
      }
    }
  }
  .blog-post:nth-child(2) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .post-container {
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
      .read-more {
        right: initial;
      }
    }
    .blog-post-image {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }
  }
}

.column {
  padding-top: 20px;
  //   flex: 50%;
}

.post-container {
  flex: 1;
  position: relative;
  width: 420px;
  display: inline-block;
  font-family: "Arima Madurai", cursive;
  color: #4a4a4a;
  margin-left: 15px;
  margin-right: 15px;

  .blog-post-title {
    font-family: "Oranienbaum", serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 8px;
    color: #4a4a4a;
    &:hover {
      color: darkmagenta;
    }
  }
  .blog-post-content {
    padding-top: 20px;
  }
  .blog-post-content {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }

  .read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    a {
      color: #4a4a4a;

      &:hover {
        color: darkmagenta;
      }
    }
  }
}

div#carousel-fade.carousel.slide.carousel-fade
  ol#carousel-fade___BV_indicators_.carousel-indicators {
  li {
    background-color: #e4c7d9;
  }
}
