#user-name {
  padding-top: 30px;
}

.nav-item {
  display: inline;
  font-size: 2em;
  padding-right: 60px;
  text-decoration: none;
  font-family: "Oranienbaum", serif;
  letter-spacing: 4px;
  color: black;
  &:hover {
    color: darkmagenta;
  }
}

.nav-item.router-link-active {
  color: darkmagenta;
}

.nav-div {
  margin-bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  margin-top: 20px;
  width: 100%;
  line-height: 60px;
  z-index: 999;
  color: green;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul a:hover {
  color: #e4c7d9;
}

nav ul {
  float: right;
  margin: 0;
  padding-right: 60px;
  margin-top: 20px;
  li {
    list-style: none;
    display: inline-block;
    a {
      outline: none;
    }
  }
}

.black {
  background-color: #eedae0;
  margin-top: 0;
  height: 100px;

  ul,
  img {
    margin-top: 23px;
  }

  ul > a:hover {
    color: #08120a;
  }
}

.title-in-navbar-disabled {
  display: none;
}

.navbar-text-left {
  height: 48px;
  float: left;
  padding-left: 60px;
  margin-top: 14px;
  color: black;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: "Srisakdi", cursive;

  &:hover {
    color: #aa6790;
    text-decoration: none;
  }
}

.logo {
  height: 48px;
  float: left;
  padding-left: 60px;
  margin-top: 5px;
}
